VITE_API_URL=https://api.example.com/api
VITE_APP_NAME=AraMarket
VITE_ENVIRONMENT=production
VITE_SUPABASE_URL=https://drqzggozpiuzwxiouphh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_f87wyJw9zUeyUqqK_B69cg_dTmAYnJu
