SUPABASE_URL=https://drqzggozpiuzwxiouphh.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_f87wyJw9zUeyUqqK_B69cg_dTmAYnJu
SUPABASE_SECRET_KEY=sb_secret_tFCKFyA2hIlOT6f1fMU3sA_ehCMYleA
SUPABASE_SERVICE_ROLE_KEY=sb_secret_tFCKFyA2hIlOT6f1fMU3sA_ehCMYleA
SUPABASE_JWKS_URL=https://drqzggozpiuzwxiouphh.supabase.co/auth/v1/.well-known/jwks.json
