VITE_API_URL=http://localhost:8000/api
VITE_APP_NAME=AraMarket
VITE_ENVIRONMENT=development
VITE_SUPABASE_URL=https://drqzggozpiuzwxiouphh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_f87wyJw9zUeyUqqK_B69cg_dTmAYnJu
